{
	auto_https off

	cache {
		api {
			souin {
			}
		}
		ttl 720h
		stale 1h
		default_cache_control public, s-maxage=2592000, max-age=0, must-revalidate
		badger {
			path /var/cache/caddy
		}
	}
}

:80 {
	@purge_api path_regexp purge_api ^/cache/purge/([0-9a-fA-F-]+)$
	handle @purge_api {
		reverse_proxy 127.0.0.1:9080
	}

	@root_exact expression `{path} == "/" && {query} == ""`
	handle @root_exact {
		cache
		reverse_proxy {$ASTRO_UPSTREAM} {
			header_down +Surrogate-Key "root"
		}
	}

	@match_page path_regexp match_page ^/matches/([0-9a-fA-F-]+)$
	handle @match_page {
		cache
		reverse_proxy {$ASTRO_UPSTREAM} {
			header_down +Surrogate-Key "root match-{re.match_page.1}"
		}
	}

	@analytics_a_script path /anal/a/script.js
	handle @analytics_a_script {
		uri replace /anal/a/script.js /collect/analytics/script.js
		reverse_proxy https://app.lythia.dev {
			header_up Host app.lythia.dev
		}
	}

	@analytics_m_script path /anal/m/script.js
	handle @analytics_m_script {
		uri replace /anal/m/script.js /collect/metrics/script.js
		reverse_proxy https://app.lythia.dev {
			header_up Host app.lythia.dev
		}
	}

	@analytics_a path /anal/a
	handle @analytics_a {
		uri replace /anal/a /collect/analytics/report
		reverse_proxy https://app.lythia.dev {
			header_up Host app.lythia.dev
		}
	}

	@analytics_m path /anal/m
	handle @analytics_m {
		uri replace /anal/m /collect/metrics/report
		reverse_proxy https://app.lythia.dev {
			header_up Host app.lythia.dev
		}
	}

	@static_assets path_regexp static_assets ^/.+\.(js|css)$
	handle @static_assets {
		cache
		reverse_proxy {$ASTRO_UPSTREAM}
	}

	handle {
		reverse_proxy {$ASTRO_UPSTREAM}
	}
}
