---
import { MatchListItem } from "../components/MatchListItem";
import { MatchTypeMenu } from "../components/MatchTypeMenu";
import MatchListLayout from "../layouts/MatchListLayout.astro";
import { statsApi } from "../util/stats-api";

Astro.response.headers.set("Cache-Tag", "match-list");

const matches = await statsApi.fetchGroups();
const filteredMatches = matches.filter((match) => match.size === 12);
---

<MatchListLayout
  frontmatter={{
    title: "ETL Stats",
    description: "Stats page for ETLegacy games",
  }}
>
  <div class="flex flex-col">
    <h1 class="text-4xl my-6 text-center">ETLegacy Stats</h1>
    <MatchTypeMenu currentType="/6v6" />
    <ul class="list-none">
      {filteredMatches.map((match) => <MatchListItem match={match} />)}
    </ul>
  </div>
</MatchListLayout>
