---
import { MatchListItem } from "../components/MatchListItem";
import Layout from "../layouts/Layout.astro";
import { statsApi } from "../util/stats-api";

const matches = await statsApi.fetchGroups();
---

<Layout>
  <div class="flex flex-col">
    <ul class="list-none p-4">
      {matches.map((match) => <MatchListItem match={match} />)}
    </ul>
  </div>
</Layout>
