---
import { MatchList } from "../components/MatchList";
import MatchListLayout from "../layouts/MatchListLayout.astro";
import { statsApi } from "../util/stats-api";

const type = Astro.url.searchParams.get("type");
const matches = await statsApi.fetchGroups();
---

<MatchListLayout
  frontmatter={{
    title: "ETL Stats",
    description: "Stats page for ETLegacy games",
  }}
>
  <div class="flex flex-col">
    <h1 class="text-4xl my-6 text-center">ETLegacy Stats</h1>
    <MatchList client:load matches={matches} type={type} />
  </div>
</MatchListLayout>
