@font-face {
  font-family: "Mona Space";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: url("/fonts/MonaspaceNeon-Regular-v1.101.woff2") format("woff2");
}

html {
  scrollbar-color: #302c2a #25211f;
}
