<!doctype html>
<html class="h-full w-full m-0 bg-mud-800 text-bush-50" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="h-full w-full m-0">
    <main class="max-w-screen-xl mx-auto">
      <slot />
    </main>
  </body>
</html>
