---
import "@fontsource-variable/rubik/wght.css";
import rubikWoff2 from "@fontsource-variable/rubik/files/rubik-latin-wght-normal.woff2?url";
import "@fontsource/geist-mono";
import Head from "../components/Head.astro";
import "../assets/global.css";

interface Props {
  frontmatter: {
    title: string;
    description: string;
  };
}

const { frontmatter } = Astro.props;
---

<!doctype html>
<html class="h-full w-full m-0 bg-mud-800 text-bush-50 antialiased" lang="en">
  <head>
    <Head {...frontmatter} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/etl.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={rubikWoff2}
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/fonts/MonaspaceNeon-Regular-v1.101.woff2"
      crossorigin="anonymous"
    />
    <title>Astro Basics</title>
  </head>
  <body class="h-full w-full m-0">
    <main class="max-w-screen-lg mx-auto">
      <slot />
    </main>
  </body>
</html>
